/* Editor */
.bonips-edit-logentry { font-family: "Open Sans",sans-serif; background-color: white !important; z-index: 9999 !important; border: none !important; border-radius: 0 !important; background-image: none !important; padding: 0 !important; overflow: visible !important; }
.bonips-edit-logentry.ui-dialog .ui-dialog-content { padding: 0 0 0 0; }
.bonips-edit-logentry .ui-widget-header { border: none !important; background: transparent !important; font-weight: normal !important; }
.bonips-edit-logentry .ui-dialog-titlebar { line-height: 24px !important; border-bottom: 1px solid #ddd !important; border-left: none; border-top: none; border-right: none; padding: 12px !important; border-radius: 0 !important; }
.bonips-edit-logentry .ui-dialog-titlebar:hover { cursor: move; }
.bonips-edit-logentry .ui-dialog-titlebar-close { float: right; margin: 0 12px 0 0; background: 0 0; border: none; -webkit-box-shadow: none; box-shadow: none; color: #666; cursor: pointer; display: block; padding: 0; position: absolute; top: 0; right: 0; width: 36px; height: 36px; text-align: center; font-size: 13px; line-height: 26px; vertical-align: top; white-space: nowrap; }
.bonips-edit-logentry .ui-icon { display: none !important; }
.bonips-edit-logentry .ui-button:focus, .bonips-edit-logentry .ui-button:active { outline: none !important; }
.bonips-edit-logentry .ui-button .ui-button-text { display: block; text-indent: 0; }
.bonips-edit-logentry .ui-dialog-title { font-size: 22px; font-weight: 600; margin: 0 0 0 0; width: auto !important; float: none !important; }
body .ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: repeat-x scroll 70% 70% #000; opacity: 0.7; overflow: hidden; background: repeat-x scroll 70% 70% #000; z-index: 99; }
#edit-bonips-log-entry { background-color: #f3f3f3; font-size: 14px; }
#edit-bonips-log-entry form { display: block; padding: 12px; }
#edit-bonips-log-entry .row { margin-bottom: 24px; }
#edit-bonips-log-entry .row.ledger { margin-bottom: 3px; font-size: 12px; line-height: 18px; }
#edit-bonips-log-entry .row.ledger.header { margin-bottom: 6px; font-size: 14px; line-height: 22px; }
#edit-bonips-log-entry .row.ledger .row { border-bottom: 1px solid #ddd; padding-bottom: 6px; }
#edit-bonips-log-entry .row.last { margin-bottom: 0; }
#edit-bonips-log-entry .row input { width: 99%; }
#edit-bonips-log-entry .row .button { width: 99%; }
#edit-bonips-log-entry .row input.regular-text { width: 99%; }
#edit-bonips-log-entry .row select { width: 99%; }
#edit-bonips-log-entry .row.ledger .button-secondary { float: none; }
#edit-bonips-log-entry .row.ledger p { text-align: center; margin: 6px 0 0 0; }
#edit-bonips-log-entry .row span { display: block; font-size: 12px; line-height: 16px; padding: 2px 0 0 3px; }
#edit-bonips-log-entry .row span span { display: inline; padding-left: 12px; }
#edit-bonips-log-entry .row label { display: block; font-weight: bold; line-height: 22px; }
#edit-bonips-log-entry .text-right { text-align: right; }
#edit-bonips-log-entry .text-center { text-align: center; }
#edit-bonips-log-entry #bonips-editor-results { line-height: 30px; }
img#bonips-token-sitting { display: none; }

.flash {
  -moz-animation: flash 0.5s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 0.5s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

.loading-indicator { height: 5px; width: 100%; position: relative; overflow: hidden; background-color: white; }
.loading-indicator:before { display: block; position: absolute; content: ""; left: -200px; width: 200px; height: 5px; background-color: #c5d93d; animation: loading 2s linear infinite; }
@keyframes loading { from { left: -200px; width: 30%; } 25% { width: 50%; } 50% { width: 50%; } 70% { width: 50%; } 80% { left: 75%; } 95% { left: 100%; } to { left: 100%; } }