#bonipress_sell_content { }
#bonipress_sell_content .inside input[type="checkbox"] { margin-right: 12px; }

#bonipress_sell_content .inside ul { }
#bonipress_sell_content .inside ul li label { padding-right: 12px; }
#bonipress_sell_content .inside ul li>input, #bonipress_sell_content .inside ul li .formated { float: right; }

#bonipress_sell_content .inside ul li { float: none; clear: both; line-height: 25px; }
#bonipress_sell_content .inside ul li.long input { width: 100%; float: none; clear: both; }

p#bonipress-submit { text-align: right; }
#bonipress_sell_content .inside ul li input.disabled { background-color: #F8F8F8; border-color: #DFDFDF; }